<article>
  article
  <span id="alert"><%= flash[:alert] %></span>
  <% @tweets.each do |tweet| %>
    <div class="container">
      <ul class="tweet-btn">
        <li>▼</li>
        <ul>
          <li><%= link_to 'Detail', tweet_path(tweet.id), method: :get %></li>
          <% if current_user.id == tweet.user_id %>
            <li><%= link_to 'Edit', edit_tweet_path(tweet.id), method: :get %></li>
            <li><%= link_to 'Delete', tweet_path(tweet.id), data: {confirm: "Do you want to delete?"}, method: :delete %></li>
          <% end %>
        </ul>
      </ul>
      <% if tweet.images.attached? %>
        <div class="slick">
          <% tweet.images.each do |image| %>
            <%= image_tag image %>
          <% end %>
        </div>
      <% end %>
      <div class="text">
        <%= simple_format(tweet.text) %>
      </div>
  　</div>
  <% end %>
</article>