<% tweets.each do |tweet| %>
  <div class="container">
    <div class="tweet-title">
      <h2><span style="border-bottom: solid 1px gray;"><%= tweet.title %></span></h2>
      <small style="color: black;"><time datetime="<%= tweet.updated_at %>">Updated at <%= tweet.updated_at %></time> by <%= link_to "#{tweet.user.nickname}", user_path(tweet.user_id), method: :get, style: "text-decoration: underline; color: black;" %></small>
    </div>
    <div class="currency_pair">
      <h3><%= tweet.currency_pair %></h3>
      <% unless tweet.currency_pair == "Others" %>
        <%= image_tag "#{tweet.currency_pair[0,3]}.png", class: "currency" %>
        <%= image_tag "#{tweet.currency_pair[3,6]}.png", class: "margin_currency" %>
      <% end %>
    </div>
    <ul class="tweet-btn">
      <li>▼</li>
      <ul>
        <li><%= link_to 'Detail', tweet_path(tweet.id), method: :get %></li>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li><%= link_to 'Edit', edit_tweet_path(tweet.id), method: :get %></li>
          <li><%= link_to 'Delete', tweet_path(tweet.id), data: {confirm: "Do you want to delete?"}, method: :delete %></li>
        <% end %>
      </ul>
    </ul>
    <% if tweet.images.attached? %>
      <div class="slick">
        <% tweet.images.each do |image| %>
          <%= image_tag image %>
        <% end %>
      </div>
    <% end %>
    <div class="text">
      <%= simple_format(tweet.text) %>
    </div>
    <div class="poster-nickname">
      <small style="color: black;">Poster : <%= link_to "#{tweet.user.nickname}", user_path(tweet.user.id), method: :get, style: "color: black; text-decoration: underline;"%></small>
    </div>
　</div>
<% end %>